.test-item{
  width: 999px;
  height: 140px;
  background-color: #ffffff;
  margin-bottom: 18px;
  display: inline-block;
  text-align: left;
}


.test-image {
  display: inline-block;
  height: 140px;
  width: 100px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.edited{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: rgba(15, 15, 15, 0.41);
  margin-left: 29px;
  vertical-align: top;
  margin-top: 61px;
  display: inline-block;
}

.test-title{
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  margin-top: 45px;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  color: #0f0f0f;
  margin-left: 97px;
}

.amount-of-questions{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  vertical-align: top;
  color: #0f0f0f;
  margin-top: 77px;
  display: inline-block;
  margin-left: -280px;
}

.rectangles{
  height: 22px;
  width: 3px;
  display: inline-block;
  vertical-align: top;
  margin-top: 43px;
  margin-left: 510px;
}