<div class="test-item" *ngFor="let test of tests">
    <span class="test-image"><img [src]="testImagePath"></span>
    <span class="edited">Edited in {{test.lastEdited}} days ago</span>
    <span class="test-title">{{test.name}}<br></span>
    <span class="amount-of-questions">{{test.numberOfQuestions}} вопросов</span>
    <div class="rectangles" (click)="">&#9633;<br>&#9633;<br>&#9633;</div>
    <div class="test-options">
        <span>View Questions</span>
        <span>View Activations</span>
        <span>Edit</span>
        <span>Activate</span>
    </div>
    <script>
        function hideMainElements()
        {
            console.log('logg')
            document.getElementsByClassName('test-title').setAttribute("display", "none");
            document.getElementsByClassName('test-title').setAttribute("display", "none");
            document.getElementsByClassName('amount-of-questions').setAttribute("display", "none");
            document.getElementsByClassName('rectangles').setAttribute("display", "none");
        }
    </script>
</div>
