span{
  font-family: "Roboto", sans-serif;
}
.test-item{
  width: 999px;
  height: 140px;
  background-color: #ffffff;
  margin-bottom: 18px;
  display: inline-block;
  text-align: left;
}


.test-image {
  display: inline-block;
  height: 140px;
  width: 100px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.edited{
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: rgba(15, 15, 15, 0.41);
  margin-left: 29px;
  vertical-align: top;
  margin-top: 61px;
  display: inline-block;
  width: 250px;
}

.test-title{
  vertical-align: top;
  margin-top: 45px;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  color: #0f0f0f;
  width: 450px;

}

.amount-of-questions{
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  vertical-align: top;
  color: #0f0f0f;
  margin-top: 77px;
  display: inline-block;
  width: 101px;
  margin-left: -454px;
}

.rectangles{
  height: 55px;
  width: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 43px;
  margin-left: 450px;
}
.test-options{
  display: inline-block;
  width: 680px;
  height: 140px;
  background-color: black;
  margin-left: -1px;
  margin-bottom: 18px;
  text-align: left;
}
.test-options span{
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;

}