<div id="select__container">
  <div class="select" *ngIf="mulsel" #select>

    <div class="select__item select__item_main" id="mainSel" 
        (click)="openContent(); 
                 clickInside($event)">
      <i class="{{ currentClass != undefined ? currentClass : selectContent[0].icon }}"></i>
      <div class='select__content'>
        {{ currentInner != '' ? currentInner : selectContent[0].label }}
      </div>
      <i class="arrow down opener"></i>
    </div>

    <div class="select__items" id="items" *ngIf="mulselContent">
      <div class="select__item inner" 
          (click)="chooseItem(mulselItem.label, mulselItem.icon, $event); 
                   clickInside($event); 
                   writeValue(mulselItem.label)"
          *ngFor="let mulselItem of selectContent">
        <i class="{{ mulselItem.icon }}"></i>
        <div class='select__content'>{{ mulselItem.label }}</div>
      </div>
    </div>
  </div>
</div>