// temporary stylesheets
@import 'src/assets/styles/fonts';

.create {
  &__header {
    box-shadow: 0 2px 20px 0 rgba(156, 160, 213, 0.34);
    background: #fff;
    padding: 0 39px 28px;
    margin-top: 110px;
    position: relative;
  }

  &__header-input {
    font-size: 14px;
    border: none;
    width: 100%;
    border-bottom: 2px solid #edeef0;
    padding: 26px 0 6px;

    &:focus {
      outline: none;
    }
  }

  &__header-heading {
    font-size: 30px;
    padding-top: 75px;
    margin: 0;
    font-weight: 400;
    border-bottom: 2px solid #edeef0;
    padding-bottom: 14px;
    color: #0f0f0f;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #0f0f0f;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #0f0f0f;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #0f0f0f;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #0f0f0f;
    }
  }
}