@import 'src/assets/styles/colors';

$width: 1440px;
$font: Roboto;
$font-size: 20px;

.wrapper {
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

.description{
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.test-item {
	width: 100%;
	margin: 1%;
	display: inline-flex;
	max-width: 999px;
	height: 140px;
	background-color: $white;
	box-shadow: 0 2px 20px 0 rgba(156, 160, 213, 0.34);
}

.photo {
	background: #8be8a3;
	width: 100%;
	max-width: 100px;
	height: 140px;
}

.description-summary {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 50px;
}

.last-visited {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	color: rgba(15, 15, 15, 0.41);
}

.user-name-sescription {
	height: 19px;
	font-family: Roboto;
	font-size: 16px;
	color: $black;
}

.last-tested {
	height: 15px;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	color: rgba(15, 15, 15, 0.41);
}

.description-and-stats {
	width: 100%;
	display: flex;
	max-width: 779px;
	height: 140px;
	background-color: $white;
}

.test-description {
	display: flex;
	justify-content: center;
	font-family: $font;
	font-size: 16px;
	color: $black;
}

.user-stats {
	flex: 2;
	display: flex;
	align-items: center;
	padding-right: 60px;
}

.try {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;

	& div {
		&:last-child {
			color: #ccc;
			font-weight: 300;
		}
	}
}

.time {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;

	& div {
		&:last-child {
			color: #ccc;
			font-weight: 300;
		}
	}
}

.points {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;

	& div {
		&:last-child {
			color: #ccc;
			font-weight: 300;
		}
	}
}

.diagram {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
