<div class="wrapper">
  <div class="test-item">
    <div class="photo"></div>
    <div class="description-summary">
      <div class="last-visited">Joined 5 minutes ago</div>
      <!--<div class="user-name-sescription">User Name</div>-->
      <div class="user-name-sescription">{{respondent.user.userName}}</div>
      <!--<div class="last-tested">Took a test today at 1p.m.</div>-->
      <div class="last-tested">{{respondent.user.lastTested}}</div>
    </div>
    <div class="description-and-stats">
      <div class="description">
        <!--<div class="test-description">Тест по JS на тему: "Основы. Часть 05"</div>-->
        <div class="test-description">{{respondent.testName.title}}</div>
      </div>
      <div class="user-stats">
        <div class="try">
          <div>{{respondent.tryCount}}</div>
          <div>try</div>
        </div>
        <div class="points">
          <div>{{respondent.points}}</div>
          <div>points</div>
        </div>
        <div class="time">
          <div>{{respondent.time}}</div>
          <div>time</div>
        </div>
        <div class="diagram">
          67%
        </div>
      </div>
    </div>
  </div>
</div>
