// temporary stylesheets
@import 'src/assets/styles/fonts';

p {
	font-size: 18px;
	padding: 30px 0;
	background: #fff;
	color: #666;
	display: flex;
	max-width: 1000px;
	margin: 10px auto;
	justify-content: center;
}