* {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  background: #8be8a3;
  color: #fff;
  display: flex;
  justify-content: center;
}

.select {
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 262px;

  &__container {
    z-index: 999;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 6px auto 0;
    box-shadow: 0 29px 47px 0 rgba(156, 160, 213, 0.74);
    padding: 20px 40px;
    box-sizing: border-box;
    background: #fff;
  }

  &__content {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 12px;
    cursor: pointer;
    text-overflow: ellipsis;
    color: #444;
    border: none;
    flex: 1;
  }

  &__item {
    position: relative;
    display: flex;
    padding: 11px 16px;
    cursor: pointer;
    cursor: pointer;
    background: #fff;
    align-items: center;

    &:not(.select__item_main):hover {
      background: #f6f6f6;

      & input {
        background: #f6f6f6;
      }
    }

    &:first-child {
      position: relative;
      z-index: 0;
    }

    &_main {
      border: 2px solid #eee;
    }
  }

  &__items {
    position: absolute;
    z-index: 999;
    top: -20px;
    right: 2px;
    display: block;
    width: 100%;
    animation-name: slidein;
    animation-duration: .3s;
    background: #fff;
    box-shadow: 0 0 20px 11px #eee;
  }
}

// slidein animation
@keyframes slidein {
  from {
    top: -20%;
    opacity: .1;
  }
  to {
    top: -20px;
  }
}

.arrow {
  position: relative;
  bottom: 2px;
  display: inline-block;
  padding: 3px;
  border: solid #6c6c6c;
  border-width: 0 1px 1px 0;
}

.opener:after {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  content: '';
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
}

.down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon {
  position: relative;
  z-index: 1111;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #6c6c6c;
  border-radius: 50%;
  background: #fff;
  flex-shrink: 0;
}

.icon:after {
  position: relative;
  z-index: 1;
  right: -5px;
  bottom: -5px;
  display: block;
  width: 8px;
  height: 8px;
  content: '';
  border-radius: 50%;
  background: #6c6c6c;
}
.icon_truefalse {
  border-radius: 0;
}

.icon_ordering {
  position: relative;
  top: 50%;
  height: 2px;
  border-radius: 4px;
  background: #6c6c6c;
}

.icon_ordering:before {
  position: absolute;
  top: -8px;
  left: -1px;
  width: 20px;
  height: 4px;
  content: '';
  border-radius: 4px;
  background: #6c6c6c;
}

.icon_ordering:after {
  position: absolute;
  top: 6px;
  left: -1px;
  width: 20px;
  height: 4px;
  content: '';
  border-radius: 4px;
  background: #6c6c6c;
}

.icon_checkbox {
  position: relative;
}

.icon_checkbox:before {
  position: absolute;
  right: 3px;
  bottom: 4px;
  display: inline-block;
  width: 3px;
  height: 18px;
  content: '';
  transform: rotate(37deg);
  border-radius: 4px;
  background: #6c6c6c;
}

.icon_checkbox:after {
  position: absolute;
  top: 6px;
  right: 10px;
  display: inline-block;
  width: 3px;
  height: 8px;
  content: '';
  transform: rotate(132deg);
  border-radius: 4px;
  background: #6c6c6c;
}