<!-- actual header added. Should be changed after fixes -->
<pt-header></pt-header>

<div class="create">
  <div class="create__container create__container_full">
    <p class="create__description">breadcrumbs are gonna be here...</p>
  </div>
  <div class="create__container create__container_full">
    <pt-create-new-test-uploader></pt-create-new-test-uploader>
  </div>
  <div class="create__container create__container_test">
    <div class="create__header">
        <pt-question-form [test]="test" (submit)="onTestSubmit($event)" ></pt-question-form>
    </div>
  </div>
</div>
