// temporary stylesheets
@import 'src/assets/styles/fonts';

h1 {
  font-family: $font-main;
  font-size: 24px;
  padding: 20px 0;
  margin: 100px auto 10px;
  max-width: 1000px;
  background: #8be8a3;
  color: #fff;
  display: flex;
  justify-content: center;
}