// temporary stylesheets
@import 'src/assets/styles/fonts';

.create {
  &__container {
    max-width: 820px;
    margin: 0 auto;

    &_full {
      max-width: 100%;
    }
  }

  &__description {
    color: #fff;
    padding: 0 20px;
  }

  &__header {
    text-align: center;
    margin-top: 114px;
    position: relative;
  }
}
