// temporary stylesheets

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 40px 0;
	margin-top: 100px;
    background: #21C90E;
    color: #fff;
    display: flex;
    justify-content: center;
}