<div class="test-item">
  <span class="test-image"><img [src]="testImagePath" alt="test image"></span>
  <span class="edited">Edited in {{test.description}} days ago</span>
  <div class="div">
    <span class="test-title">{{test.title}}<br></span>
    <span class="amount-of-questions">{{test.questions.length}} вопросов</span>
  </div>

  <div class="rectangles">
    <div class="rectangles__item"></div>
    <div class="rectangles__item"></div>
    <div class="rectangles__item"></div>
  </div>
  <div class="test-options">
    <span>View Questions</span>
    <span>View Activations</span>
    <span>Edit</span>
    <span>Activate</span>
  </div>
</div>
