<pt-header></pt-header>
<pt-all-respondents-list></pt-all-respondents-list>
<!--<div class="main">-->
 <!-- <div class="header-content">
    <div class="menu">
      <div class="gap"></div>
      <a class="menu-item" routerLinkActive="menu-item-active" routerLink="/all-tests">All tests</a>
      <a class="menu-item" routerLinkActive="menu-item-active" routerLink="/all-activations">Activations</a>
      <a class="menu-item" routerLinkActive="menu-item-active" routerLink="/all-respondents">All respondents</a>
    </div>
    <div class="search">
      <img src="/assets/images/search.png"
           srcset="/assets/images/search@2x.png 2x,
             /assets/images/search@3x.png 3x"
           class="search-img">
      <div class="Line-2"></div>
    </div>
    <div class="userSelect">
      <img src="/assets/images/group-2.png"
           srcset="/assets/images/group-2@2x.png 2x,
             /assets/images/group-2@3x.png 3x"
           class="image-group">
      <i class="fa fa-angle-down"></i>
    </div>
  </div>-->
<!--  <div class="tetsTitle">
    <div class="title-left">
      <div class="title-for-list">All Respondents (2)</div>
    </div>
    <div class="title-right">
      <div class="close-menu">All Respondents</div>
      <div class="angle-down-respondents">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
  </div>-->
  <!--<div class="wrapper">
    <div class="horizontal-line"></div>
  </div>-->
<!--  <div class="wrapper">
    <div class="test-item">
      <div class="photo"></div>
      <div class="description-summary">
        <div class="last-visited">Joined 5 minutes ago</div>
        <div class="user-name-sescription">User Name</div>
        <div class="last-tested">Took a test today at 1p.m.</div>
      </div>
      <div class="description-and-stats">
        <div class="description">
          <div class="test-description">Тест по JS на тему: "Основы. Часть 05"</div>
        </div>
        <div class="user-stats">
          <div class="try">
            <div>1</div>
            <div>try</div>
          </div>
          <div class="points">
            <div>4</div>
            <div>points</div>
          </div>
          <div class="time">
            <div>0:22</div>
            <div>time</div>
          </div>
          <div class="diagram">
            67%
          </div>
        </div>
      </div>
    </div>
  </div>-->
<!--</div>-->
