@import "../../shared/colors";

$width: 1440px;
$font: Roboto;
$font-size: 20px;
%menu {
  font-family: $font;
  font-size: $font-size;
  text-align: left;
  color: $black;
  flex: 15%;
}

.main {
  max-width: $width;
  width: 100%;
  min-width: 800px;
  background-color: $cloudy-blue;
}

.Rectangle {
  max-width: $width;
  height: 59px;
  background-color: $white;
  box-shadow: 0 2px 20px 0 rgba(156, 160, 213, 0.72);
  display: flex;
}

.menu-item {
  height: 24px;
  @extend %menu;
  color: $silver;
  text-decoration: none;
}

.menu-item-active {
  color: $black;
  text-decoration: none;
}

i.fa-angle-down {
  font-size: 24px;
  margin-top: 10px;
}

.angle-down-respondents {
  margin-top: -10PX;
  margin-left: 2px;
}

.image-group {
  max-width: 25px;
  height: 25px;
  object-fit: contain;
  margin: 15% 13%;
}

.Line-2 {
  max-width: 2px;
  height: 45px;
  border: solid 2px rgba(217, 217, 218, 0.41);
  margin: -15.5% 100%;
}

.menu {
  flex: 10;
  display: flex;
  margin: auto;
}

.search {
  flex: 4;
}

.userSelect {
  display: flex;
  flex: 1;
}

.gap {
  flex: 40%;
}

.search-img {
  margin: 5% 50%;
}

.title-for-list {
  margin: 7% 50%;
  width: 277px;
  height: 40px;
  font-family: $font;
  font-size: 34px;
  text-align: left;
  color: $white;
}

.title-left {
  flex: 1;
}

.title-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  color: $white;
}

.tetsTitle {
  display: flex;
}

.plus {
  margin: 15% 5%;
}

.label {
  display: flex;
  margin-left: 11%;
  margin-top: -7%;
}

.Line-4 {
  width: 100%;
  max-width: 999px;
  height: 2px;
  border: solid 2px rgba(255, 255, 255, 0.41);
}

.photo {
  width: 100%;
  max-width: 100px;
  height: 140px;
}

.test-item {
  width: 100%;
  margin: 1%;
  display: inline-flex;
  max-width: 999px;
  height: 140px;
  background-color: $white;
  box-shadow: 0 2px 20px 0 rgba(156, 160, 213, 0.34);
}

.description-and-stats {
  width: 100%;
  display: flex;
  max-width: 779px;
  height: 140px;
  background-color: $white;
}

.description-summary {
  width: 100%;
  margin: 6% 0%;
  max-width: 124px;
  height: 19px;
  font-family: $font;
  font-size: 16px;
  font-max-weight: 300;
  text-align: left;
  color: rgba(15, 15, 15, 0.41);
}

.last-tested {
  height: 15px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  color: rgba(15, 15, 15, 0.41);
}

.user-name-sescription {
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  color: $black;
}

.last-visited {
  height: 15px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  color: rgba(15, 15, 15, 0.41);
}

.close {
  margin: 7.5% 5%;
}

.test-description {
  width: 450px;
  height: 25px;
  font-family: $font;
  font-size: 22px;
  text-align: left;
  color: $black;
}

.description {
  margin: 7% 5%;
  flex: 8;
}

.user-stats {
  display: flex;
  margin: 7% 2%;
  flex: 8;
}

.try {
  flex: 2;
}

.time {
  flex: 2;
}

.points {
  flex: 2;
}

.diagram {
  flex: 2;
}

.minirect {

  margin-left: auto;
  margin-right: 2%;
  margin-top: 7%;
}

.wrapper {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
