div.tools-wrapper {
  display: inline-block;
}
.tools {
  height: 61px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.img {
  margin-left: 5px;
  margin-right: 5px;
}

.line {
  width: 2px;
  height: 45px;
  background-color: rgba(217, 217, 218, 0.41);
  display: inline-block;
}

.icon-wrap {
  line-height: 61px;
  display: inline-block;
  width: 92px;
  text-align: center;
}

i.fa-angle-down {
  font-size:24px;
}
