.tools-wrapper {
	display: inline-block;
}

.tools {
	display: flex;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}

.icon-wrap {
	cursor: pointer;
	position: relative;
	align-items: center;
	display: flex;
	padding: 0 30px;

	&_search {
		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 0px;
			height: 80%;
			width: 2px;
			background: #eee;
		}
	}
}

.fa-angle-down {
	font-size:24px;
	margin-left: 4px;
}
