<div class="tools">
    <pt-create-new *ngIf="!(route==='/all-tests')"></pt-create-new>
    <span class="icon-wrap icon-wrap_search">
        <img class="img" [src]="imageGlassPath" alt="glass">
    </span>
    <span class="three-dots-wrapper">
        <button type="button" class="three-dots" (click)="threeDotsClicked()">&#8942;</button>
    </span>
    <span class="human icon-wrap"><img class="img" [src]="imageHumanPath" alt="profile">
            <i class="fa fa-angle-down"></i>
    </span>
</div>