/* File Uploader Styles  */
@import 'src/assets/styles/fonts';

$c-white: #ffffff;
$c-black: rgb(0, 0, 0);
$c-gray: #ccc;
$c-button-grey: #efefef;
$c-uploader-bg: rgba(0, 0, 0, 0.02);

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}
.uploader input {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: $c-white;
  border-radius: 50%;
  border: none;
  outline: none;
  background-image: url(/assets/images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 40px;
}

.uploader {
    @extend .flex-center;
    background-color: $c-uploader-bg;
    cursor: pointer;
    height: 300px;
    position: absolute;
    width: 300px;
}

.load-img {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: $c-white;
    border-radius: 50%;
    border: none;
    background-image: url('/assets/images/pencil.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.uploader img,
.uploader .icon {
    pointer-events: none;
}

.uploader,
.uploader .icon {
    transition: all 100ms ease-in;
    width: 100%;
}

.uploader .icon {
    color: #eee;
    color: rgba(0, 0, 0, 0.2);
    font-size: 5em;
    background: $c-white;
}

.uploader .background-block {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.uploader img.loaded {
    opacity: 1;
}
