<form [formGroup]="form">
  <label class="uploader"
         (dragover)="false;"
         [class.loaded]="loaded"
         (dragenter)="handleDragEnter()"
         (dragleave)="handleDragLeave()"
         (drop)="handleDrop($event)">


    <div
      class="background-block"
      (load)="handleImageLoad()"
      [class.loaded]="imageLoaded"
      [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}">

    </div>
    <input type="file" name="file" accept="image/*"
           formControlName="background"
           (change)="handleInputChange($event)">
  </label>
</form>
