.class1,
.class2{
  color:red;
}

.bg {
  margin-left: 25%;
  margin-top: 10%;
  width: 820.5px;
  height: 746px;
  background-color: #ffffff;

  box-shadow: 0 5px 26px 0 rgba(82, 89, 174, 0.23);
}
.Select-Picture {
  margin-left: 67px;
  padding-top: 66px;
  width: 125px;
  height: 19px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #0f0f0f;

}
.close {
  padding: 100px;
}
.Rectangle-22 {
  margin-left: 25%;
  margin-top: 20%;
  width: 420px;
  height: 420px;
  border: dashed 2px #d9d9da;
}
.icon {
  margin-left: 40%;
  margin-top: 20%;
  width: 112px;
  height: 99px;
  object-fit: contain;
}
.Drag-a-photo-here {
  margin-left: 25%;
  width: 232px;
  height: 34px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 29px;
  font-weight: 500;
  text-align: left;
  color: #a6a6a6;

}
.--or-- {
  margin-top: 5%;
  margin-left: 45%;
  width: 42px;
  height: 24px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #a6a6a6;

}
.Rectangle-12 {
  margin-top: 10%;
  margin-left: 25%;
  width: 234.6px;
  height: 40px;
  background-color: #f6f6f6;

  border: solid 1px #d9d9da;
}
.close {
  margin-top: 10px;
  margin-right: 50px;
}