<div class="main">
  <div class="Rectangle">
    <div class="menu">
      <div class="gap"></div>
      <div class="All-tests">All tests</div>
      <div class="Activations">Activations</div>
      <div class="All-respondents">All-respondents</div>
    </div>
    <div class="search">
      <img src="img/serch.png"
           srcset="img/serch@2x.png 2x,
             img/serch@3x.png 3x"
           class="search-img">
      <div class="Line-2"></div>
    </div>
    <div class="userSelect">
      <img src="img/group-2.png"
           srcset="img/group-2@2x.png 2x,
             img/group-2@3x.png 3x"
           class="Group-2">
      <div class="Path-3"></div>
    </div>
  </div>
  <div class="tetsTitle">
    <div class="title-left">
      <div class="My-All-Tests-2">my all tests (2)</div>
    </div>
    <div class="title-right">
      <button class="btn Rectangle-12">
        <div class="label">
          <div class="plus">
            <div class="Line-3"></div>
            <div class="Line-3-1"></div>
          </div>
          <div class="Create-New">
            Create New
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="wrapper">
    <div class="Line-4"></div>
  </div>
  <div class="wrapper">
    <div class="Rectangle-5">
      <div class="Screen-Shot-2017-08-08-at-103556-PM"></div>
      <div class="Edited-6-days-ago">Edited 6 days ago</div>
      <div class="Rectangle-6">
        <div class="View-Questions">View Questions</div>
        <div class="View-Activations">View Activations</div>
        <div class="Edit">Edit</div>
        <div class="Activate">Activate</div>
        <div class="close">
          <div class="Line-5"></div>
          <div class="Line-5-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="Rectangle-5">
      <div class="Screen-Shot-2017-08-08-at-103556-PM"></div>
      <div class="Edited-6-days-ago">Edited 8 days ago</div>
      <div class="Rectangle-7">
        <div class="description">
          <div class="JS-">Тест по JS на тему: "Основы. Часть 05"</div>
          <div class="Questions">
            8 Questions
          </div>
        </div>
        <div class="minirect">
          <div class="Rectangle-17"></div>
          <div class="Rectangle-17"></div>
          <div class="Rectangle-17"></div>
        </div>
      </div>
    </div>
  </div>
</div>
