.grey_text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #d9d9da;
}

.black_text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: left;
  color: black;
}

form{
  display: inline-block;
  line-height: 61px;
  margin-left: 15px;
  margin-right: 15px;
}
input{
  background:none;
  border:none;
}

div {
  margin-right: auto;
  margin-left: auto;
  width: 450px;
  height: 61px;
}