@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins';

.item {
  position: relative;
  display: block;
  background: $white;
  height: 140px;
  margin: 25px 0;
  box-shadow: 0 2px 20px 0 rgba(156, 160, 213, 0.34);
  overflow: hidden;

  &--has-menu {
    padding-right: 90px;
  }

  &__right {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }

  &__btn-menu {
    @extend %reset-browser-ui;
    padding: 10px;
    font-size: 0;
    &:hover {
      .rect__item {
        background-color: $black;
      }
      .close__item:nth-child(1) {
        transform: rotate(-40deg);
      }
      .close__item:nth-child(2) {
        transform: rotate(40deg);
      }
    } 
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
    background: $black;
    height: 100%;
    transition: transform .3s;
    will-change: transform;
    transform: translateX(100%);
    &.opened {
      transform: translateX(0);
    }
  }
}

.rect {
  position: relative;
  display: block;
  width: 8px;
  &__item {
    display: inline-block;
    width: 100%;
    height: 8px;
    border: solid 1px rgba(15, 15, 15, 0.66);
    box-sizing: border-box;
    margin: 3px 0;
    transition: background-color .3s; 
  }
}

.close {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  &__item {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: $white;
    opacity: 0.7;
    box-sizing: border-box;
    transition: transform .3s;
    &:nth-child(1) {
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
  }
}
