<div class="fileuploader">
	<div class="fileuploader__inner">
		<header class="fileuploader__header">
			<h1 class="fileuploader__heading">Lorem ipsum</h1>
			<span class="fileuploader__closer" (click)="hideUploader()"></span>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo velit quis iusto magnam cupiditate dolorum repudiandae tempore cum minus eos a iure, officiis, eius, consequuntur unde nulla, enim quibusdam beatae.</p>

		<input type="file">
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo velit quis iusto magnam cupiditate dolorum repudiandae tempore cum minus eos a iure, officiis, eius, consequuntur unde nulla, enim quibusdam beatae.</p>
	</div>
</div>
