<div class="activation-item">
  <span class="activation-image"><img [src]="activation.imagePath" alt="test image"></span>
  <span class="is-active-block actuality-block" *ngIf="(activation.isActive)">Active</span>
  <span class="is-not-active-block actuality-block" *ngIf="!(activation.isActive)">Ended</span>
  <span class="created-days-ago">created {{activation.created}} days ago</span>
  <span class="activation-title">{{activation.name}}<br></span>
  <span class="end-in">End in {{activation.endIn}} days</span>
  <span class="amount-of-partisipants">{{activation.numberOfParticipants}} participants</span>
  <div class="activation-rectangles">
  	<div class="rectangles">
    <div class="rectangles__item pt-square-o"></div>
    <div class="rectangles__item pt-square-o"></div>
    <div class="rectangles__item pt-square-o"></div>
  </div>
  </div>
</div>
