@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.pt-question-list {
  margin: 10px auto 65px;
  font-family: $font-main;

  &__controls {
    display: flex;
    max-width: 91%;
    margin: 5px auto 0;
    background-color: $white;
    box-shadow: 0 3px 6px 0 #535dcb;
  }

  &__icon {
        display: inline-flex;
    font-size: 33px;
    margin-right: 10px;

  }

  &__button {
    position: relative;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 20px 0;
    color: #6c6c6c;
    font-size: 20px;
    text-align: center;
    transition: .4s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 70%;
        width: 2px;
        transform: translateY(-50%);
        background-color: #edeef0;

      }
    }

    &:hover {
      color: darken(#6c6c6c, 30%);
    }
  }
}

.questions {
  position: relative;
  z-index: 999;
}
