<div class="pt-question-list">

	<pt-question *ngFor="let q of questions" 
		[question]="q" 
		[questions]="questions">
		<div class="pt-question_controls">
			<span class="pt-question_button pt-question_remove" 
				(click)="removeQuestion(q.id)"><i class="fa fa-times" aria-hidden="true"></i>
			</span>
			<span class="pt-question_button pt-question_clone" 
				(click)="cloneQuestion(q.id, q.title, q.description, q.required)"><i class="fa fa-clone" aria-hidden="true"></i>
			</span>
			<div class="pt-question__checkbox">
				<span>Required</span>
				<label class="pt-question_required switcher">
						<input type="checkbox" name="question-required" class="switcher__checkbox"
						[checked]="q.required" 
						(change)="q.required = !q.required">
						<span class="switcher__slider switcher__slider_round"></span>
				</label>
			</div>
		</div>
	</pt-question>
	
	<div class="pt-question-list_controls">
		<div class="pt-question-list_button"
			(click)="addQuestion()">New</div>
		<div class="pt-question-list_button"
			(click)="addText()">Text</div>
		<div class="pt-question-list_button"
			(click)="addPicture()">Picture</div>
		<div class="pt-question-list_button"
			(click)="addVideo()">Video</div>
		<div class="pt-question-list_button"
			(click)="addSection()">Section</div>
	</div>
</div>