@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.pt-question-list {
  margin: 10px auto 65px;
  font-family: $font-main;

  &__controls {
    display: flex;
    max-width: 91%;
    margin: 5px auto 0;
    background-color: $white;
    box-shadow: 0 3px 6px 0 #535dcb;
  }

  &__icon {
        display: inline-flex;
    font-size: 33px;
    margin-right: 10px;

  }

  &__button {
    position: relative;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 16px 0;
    color: #6c6c6c;
    font-size: 20px;
    text-align: center;
    transition: .4s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 70%;
        width: 2px;
        transform: translateY(-50%);
        background-color: #edeef0;

      }
    }

    &:hover {
      color: darken(#6c6c6c, 30%);
    }
  }
}

.questions {
  position: relative;
  z-index: 999;
}

.create {

  &__header {
    box-shadow: 0 2px 20px 0 rgba(156, 160, 213, 0.34);
    background: #fff;
    padding: 0 39px 28px;
    margin-top: 110px;
    position: relative;
  }

  &__header-input {
    font-size: 14px;
    border: none;
    width: 95%;
    border-bottom: 2px solid #edeef0;
    padding: 26px 0 29px 35px;

    &:focus {
      outline: none;
    }
  }

  &__submit__button {
    position: relative;
    margin-top: 10px;
    border-radius : 50px;
    padding : 10px 18px;
    box-shadow : 0 1px 4px rgba(0,0,0,.6);
    font-size : 9.5pt;
    font-weight : bold;
    color : #fff;
    text-shadow : 0 1px 3px rgba(0,0,0,.4);
    text-decoration : none;
    border: 1px solid #8fc800;
    background: #8fc800;
    background: -moz-linear-gradient(top, #8fc800 0%, #438c00 100%);
    background: -webkit-gradient(linear, left top, left bottom,
      color-stop(0%,#8fc800), color-stop(100%,#438c00));
    background: -webkit-linear-gradient(top, #8fc800 0%,#438c00 100%);
    background: -o-linear-gradient(top, #8fc800 0%,#438c00 100%);
    background: -ms-linear-gradient(top, #8fc800 0%,#438c00 100%);
    //background: linear-gradient(top, #8fc800 0%,#438c00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#8fc800', endColorstr='#438c00',GradientType=0 );
  }

  &__header-heading {
    font-size: 30px;
    padding-top: 75px;
    margin: 0;
    font-weight: 400;
    border-bottom: 2px solid #edeef0;
    padding-bottom: 14px;
    color: #0f0f0f;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #0f0f0f;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #0f0f0f;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #0f0f0f;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #0f0f0f;
    }
  }
}
