<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
  class="pt-question-list">
  <input class="create__header-input create__header-heading"
         type="text"
         formControlName="title"
         placeholder="Test Title">

  <input class="create__header-input"
         type="text"
         formControlName="description"
         placeholder="Form description(optional)">
  <div formArrayName="questions" class="questions">
    <pt-question *ngFor="let question of questionsFormArray.controls; let i = index"
                    [formControlName]="i"
                    (remove)="removeQuestion(i)"
                    (edit)="editQuestion(i)"
                    (clone)="cloneQuestion(i)"
                    [isEditing]="editedQuestion === i"
                    [index]="i">
        </pt-question>
  </div>
  <div class="pt-question-list__controls">
    <div class="pt-question-list__button"
      (click)="addQuestion()">
      <i class="pt-question-list__icon pt-plus-circle"></i>New
    </div>
    <div class="pt-question-list__button"
      (click)="addText()">
      <i class="pt-question-list__icon pt-background-color"></i>Text
    </div>
    <div class="pt-question-list__button"
      (click)="addPicture()">
      <i class="pt-question-list__icon pt-photo"></i>Picture
    </div>
    <div class="pt-question-list__button"
      (click)="addVideo()">
      <i class="pt-question-list__icon pt-play-video"></i>Video
    </div>
    <div class="pt-question-list__button"
      (click)="addSection()">
      <i class="pt-question-list__icon pt-puzzle-piece"></i>Section
    </div>
  </div>
  <button class="create__submit__button" type="submit">Save test</button>
</form>
