@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.pt-question-list {
  margin: 0 auto 65px;
  font-family: $font-main;

  &_controls {
    display: flex;
    max-width: 90%;
    margin: 5px auto 0;
    background-color: $white;
    box-shadow: 0 3px 6px 0 #535dcb;
  }

  &_button {
    position: relative;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 20px 0;
    color: #6c6c6c;
    font-size: 20px;
    text-align: center;
    transition: .4s;
    cursor: pointer;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 70%;
        width: 2px;
        transform: translateY(-50%);
        background-color: #edeef0;
        
      }
    }

    &:hover {
      color: darken(#6c6c6c, 30%);
    }
  }
}

.pt-question {

  &__checkbox {
    margin-left: auto;
    display: flex;
    align-items: center;
    & > span {
      margin-right: 10px;
    }
  }
  
  &_controls {
    position: relative;
    display: flex;
    margin-top: 40px;
    padding-top: 15px;
    align-items: center;
    color: #6c6c6c;
    font-size: 18px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 2px;
      width: 100%;
      background-color: #edeef0;
    }
  }

  &_button {
    cursor: pointer;
    font-size: 26px;
    transition: .4s;

    &:hover {
      color: darken(#6c6c6c, 30%);
    }

    &:not(:last-child) {
      margin-right: 20px; 
    }
  }

  &_required {
    margin-left: auto;
  }
}

.switcher {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;

  &__checkbox {
    display: none;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eef3f7;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: -4px;
      box-shadow: 0 2px 3px 0 rgba(158, 158, 193, 0.23);
      bottom: -3px;
      background-color: #a7edb9;
      transition: .4s;
    }

    &_round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &__checkbox {

    &:checked {
      & + .switcher__slider {
        background-color: #8be8a3;
      }
    }

    &:focus + .switcher__slider {
      box-shadow: 0 0 1px #8be8a3;
    }
    
    &:checked + .switcher__slider {
      &:before {
        transform: translateX(22px);
      }
    }
  }
}