<form [formGroup]="form" 
      class="pt-question-list">
    <div formArrayName="questions">
        <pt-question *ngFor="let question of form.get('questions').controls; let i = index"
                    [formControlName]="i" 
                    (remove)="removeQuestion(i)"
                    (edit)="editQuestion(i)"
                    (clone)="cloneQuestion(i)"
                    [isEditing]="editedQuestion === i"
                    [index]="i">
        </pt-question>
    </div>

    <div class="pt-question-list__controls">
        <div class="pt-question-list__button"
            (click)="addQuestion()">New
        </div>
        
        <div class="pt-question-list__button"
            (click)="addText()">Text
        </div>
        
        <div class="pt-question-list__button"
            (click)="addPicture()">Picture
        </div>
        
        <div class="pt-question-list__button"
            (click)="addVideo()">Video
        </div>
        
        <div class="pt-question-list__button"
            (click)="addSection()">Section
        </div>
    </div>
</form>