<div class="test-information">
  <div class="test-information-amount-of-questions-and-points">
    <!--TODO add here setting amounts via config data-->
    <span>4 Questions</span>
    <!--TODO add here setting amounts via config data-->
    <span>20 Points</span>
  </div>
  <!--TODO add here setting amounts via config data-->
  <div class="test-information-test-title">
    The very best test title!
  </div>
  <div class="test-information-test-description">
    The most detailed test description ever!
  </div>
</div>
