@import 'src/assets/styles/colors';

.pt-question {
  position: relative;
  max-width: 820px;
  margin: 14px auto 0;
  padding: 45px 40px 30px;
  background-color: $white;
  box-shadow: 0px 12px 30px 14px rgba(156, 160, 213, 0.65);
  border-bottom: 1px solid #ccc;
  z-index: 1;

  &__selects {
    margin-bottom: 20px;
    display: flex;
  }

  &--static {
    color: $black;
  }

  &--editable {
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      background-color: $hospital-green;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;

    &_delete {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 32%;
        width: 2px;
        height: 80%;
        border-radius: 1px;
        background: #666;
        transform: rotate(-45deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 32%;
        width: 2px;
        border-radius: 1px;
        height: 80%;
        background: #666;
        transform: rotate(45deg);
      }
    }
  }

  &__picture {
        padding: 10px 0;
    text-align: center;
    color: #fff;
    background: #8be8a3;
    box-shadow: 0 8px 20px 14px rgba(139, 232, 163, 0.29);
  }

  &__title {
    font-size: 22px;
    margin: 20px 0;
    font-weight: normal;
  }

  &__description {
    font-size: 14px;
  }

  &__icon {
    &_picture {
      cursor: pointer;
          position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 18px 0 10px;
    }
  }

  &__input {
    padding: 18px 0 10px;
        position: relative;

    input {
      width: 100%;
      padding: 5px 0;
      color: $black;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #edeef0;
      
      &:focus {
        border-bottom-color: $black;
      }
    }
  }

  .ng-invalid {
    &[type=text],
    &[type=text]:focus {
      border-bottom-color: $red;
    }

    &[type=number] {
      outline-color: $red;
    }
  }

  &__title-input {
    font-size: 22px;
  }

  &__checkbox {
    margin-left: auto;
    display: flex;
    align-items: center;
    & > span {
      margin-right: 10px;
    }
  }
  
  &__controls {
    position: relative;
    display: flex;
    margin-top: 40px;
    padding-top: 16px;
    align-items: center;
    color: #6c6c6c;
    font-size: 18px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 2px;
      width: 100%;
      background-color: #edeef0;
    }
  }

  &__button {
    cursor: pointer;
    font-size: 26px;
    transition: .4s;

    &:hover {
      color: darken(#6c6c6c, 30%);
    }

    &:not(:last-child) {
      margin-right: 20px; 
    }
  }

  &__required {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .alert {
    padding-left: 5px;
    font-size: 75%;

    &-danger {
      color: $red;
    }
  }
}

.pt-description {
  &-input {
    font-size: 14px;
    font-weight: 300;
  }
}

.switcher {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;

  &__checkbox {
    display: none;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eef3f7;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: -4px;
      box-shadow: 0 2px 3px 0 rgba(158, 158, 193, 0.23);
      bottom: -3px;
      background-color: #a7edb9;
      transition: .4s;
    }

    &_round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &__label {
    margin-right: 18px;
  }

  &__checkbox {

    &:checked {
      & + .switcher__slider {
        background-color: #8be8a3;
      }
    }

    &:focus + .switcher__slider {
      box-shadow: 0 0 1px #8be8a3;
    }
    
    &:checked + .switcher__slider {
      &:before {
        transform: translateX(22px);
      }
    }
  }
}

.select {
  &__input {
    border: 2px solid #eee;
    padding: 11px 16px;
    margin-left: 20px;
    box-sizing: border-box;
    width: 220px;
  }
}