<div *ngIf="quest.editable" class="pt-question pt-question--editable">
  <div>
    <select name="" id="">
      <option value="1">1</option>
      <option value="1">1</option>
    </select>
    <select name="" id="">
      <option value="1">1</option>
      <option value="1">1</option>
    </select>
  </div>  

  <div class="pt-question_input">
    <input type="text" class="pt-question_title-input" [(ngModel)]="quest.title">
  </div>
  <div class="pt-question_input">    
    <input type="text" class="pt-description-input" [(ngModel)]="quest.description" placeholder="Description (optional)">
  </div>
  
  <ng-content></ng-content>
</div>
<div *ngIf="!quest.editable" (click)="editQuestion(quest)" class="pt-question pt-question--static">
  <h2 class="pt-question_title">{{quest.id}}. {{quest.title}}</h2>
  <p class="pt-question_description" *ngIf="quest.description">{{quest.description}}</p>
</div>
