@import 'src/assets/styles/colors';

.pt-question {
  position: relative;
  max-width: 820px;
  margin: 0 auto;
  padding: 35px;
  background-color: $white;
  box-shadow: 0px 4px 10px 0px rgba(156, 160, 213, 0.65);
  border-bottom: 1px solid #ccc;
  z-index: 1;

  &__selects {
    margin-bottom: 20px;
    display: flex;
  }

  &--static {
    color: $black;
  }

  &--editable {
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      background-color: $hospital-green;
    }
  }

  &_title {
    font-size: 22px;
    margin: 20px 0;
    font-weight: normal;
  }

  &_description {
    font-size: 14px;
  }

  &_input {
    padding: 20px 0 10px;

    input {
      width: 100%;
      padding: 5px 0;
      color: $black;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #edeef0;
    }

    .input--focused {
      border-bottom-color: $black;
    }
  }

  &_title-input {
    font-size: 22px;
  }

  &_controls {
    background-color: red;
  }
}

.pt-description {
  &-input {
    font-size: 14px;
    font-weight: 300;
  }
}
