@import 'src/assets/styles/colors';

.my-tests {
  display: inline-block;
  width: 999px;
}

form {
  display: inline-block;
}

.new {
  position: relative;
  bottom: 10px;
}

.my-tests {
  display: flex;
  padding-bottom: 16px;
  align-items: flex-end;
  justify-content: space-between;

  &-description {
    font-family: "Roboto", sans-serif;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 36px;
    color: $white;
    font-weight: 400;

    & span {
      border-bottom: 2px solid #fff;
      padding-bottom: 9px;
    }
  }
}

.block {
  padding-top: 130px;
  border-bottom: 2px solid #eee;
  margin-bottom: 50px;
}
