@import 'src/assets/styles/colors';

form {
	display: inline-block;
}

.my-tests {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-description {
		font-family: "Roboto", sans-serif;
		line-height: 34px;
		text-transform: uppercase;
		font-size: 36px;
		color: $white;
		font-weight: 200;
	}
}

.horizontal-line {
	width: 999px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.41);
	display: inline-block;
}

.block {
	width: 1000px;
	padding-top: 135px;
	margin: 0 auto;
	padding-bottom: 15px;
}
