@import "../../../shared/colors";



.my_tests{
  display: inline-block;
  width: 999px;
}

form{
  display: inline-block;
}

.text_my_tests{
  font-family: "Roboto", sans-serif;
  width: 334px;
  line-height: 34px;
  font-size: 34px;
  text-align: left;
  color: $white;
  font-weight: 200;
  margin-right: 702px;
}

.horizontal_line{
  width: 999px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.41);
  display: inline-block;
}

.block{
  margin-top: 145px;
  margin-bottom: 48px;
  text-align: center;
}

.create_new{
  width: 165.9px;
  height: 61px;
  background-color: $hospital-green;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: $white;
  border:none;
  text-align: center;
  display: inline-block;
}
